/* stylelint-disable declaration-block-no-duplicate-properties */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.d-none {
  display: none;
}

.p-fixed {
  position: fixed;
}

.d-flex {
  display: flex;
}

.no-scroll {
  overflow-y: hidden;
}

li {
  list-style: none;
}

.menu_contaner {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #6070ffb0;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.wrapper {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.wrapper i {
  align-self: end;
}

.wrapper .options {
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}

.options li {
  margin-top: 40px;
}

.hero-container a {
  color: #7f8cff;
}

.nav-link a {
  color: #344563;
}

.popupBtnn a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #6070ff;
}

.popupBtnn a:hover {
  color: white;
  background-color: #6070ff;
  border: 1px solid #6070ff;
}

.wrapper .options li a {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

#popupCard {
  z-index: 10;
}

.popupContaner {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(185, 185, 185, 0.609);
  z-index: 2;
}

.icons_cont li a i {
  color: #505f79;
}

.popupContaner .popupwrapper {
  width: 80%;
  height: 80vh;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: scroll;
}

.hero-icons li a i {
  color: #505f79;
}

.project {
  width: 87%;
  background-color: white;
  border-radius: 30px;
  margin: 57px auto;
  padding: 16px;
}

.popupContaner .popupwrapper .project {
  width: 100%;
  margin: 0;
  flex-direction: column;
}

.popupContaner .popupwrapper .project i {
  align-self: end;
}

.ddd {
  flex-direction: column;
}

.popupBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#hero {
  background: white url("./img/desktopb-mobile.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 90px;
}

.navbar {
  width: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.bars-icon {
  color: #6070ff;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: none;
  justify-content: space-between;
  gap: 32px;
}

.logo {
  color: #6070ff;
}

.hero-container {
  padding: 24px;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  gap: 12px;
}

.hero-heading {
  color: #172b4d;
  font-size: 48px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 52px;
}

.hero-icons {
  display: flex;
  gap: 20px;
}

.icons_cont {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}

.icons_cont li {
  margin-right: 20px;
}

.works {
  background-color: #e5e5e5;
  padding-top: 114px;
}

.container3 {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
}

.project h3 {
  color: #172b4d;
}

.img100 {
  width: 100%;
  margin: auto;
}

.container3 h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 7px 0;
}

form ul li p {
  text-align: center;
  width: 100%;
  margin-top: 12px;
  color: #fff;
}

.skills-container p {
  color: #344563;
  font-weight: 500;
}

.in-body {
  display: flex;
  justify-content: start;
  align-items: center;
}

.in-body p {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.in-body p:not(:last-child)::after {
  content: "•";
  font-size: 28px;
  color: #c4c4c4;
  margin-bottom: 1px;
  margin-left: 10px;
}

.in-body p:not(:last-child) {
  padding-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.in-body .a7a {
  color: #344563;
  margin: 10px 0;
}

.dis-- {
  height: 100px;
  color: #344563;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  overflow-y: hidden;
}

.butt {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.ppp {
  background-color: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border-radius: 8px;
  margin-right: 20px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 500;
}

button {
  width: 130px;
  height: 45px;
  color: #396df2;
  background-color: white;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 16px;
  transition: 0.3s;
}

button:hover {
  color: white;
  background-color: #6070ff;
  border: 1px solid #6070ff;
}

button:focus {
  color: white;
  background-color: #3f4cdb;
  border: 1px solid #3f4cdb;
}

.about-me {
  background-color: #e5e5e5;
}

.about {
  background-color: white;
  border-radius: 0 100px 0 0;
  margin-top: 114px;
  padding-bottom: 114px;
  padding-top: 114px;
}

.contaner5 {
  margin-left: 24px;
}

.contaner5 h2 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
}

.intrudusing {
  margin: 12px 0;
}

.LETS {
  margin-top: 12px;
  font-size: 16px;
  color: #7f8cff;
  font-weight: 500;
}

.about button {
  margin-top: 20px;
  width: 160px;
  height: 44px;
  margin-bottom: 45px;
}

.container4 {
  width: 87%;
  margin: 40px auto;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.skl-h1 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.skills-heading {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-bottom: 1px solid #ebecf0;
}

.skills-container.open .skills-heading {
  border: none;
}

.skills-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skills-content .skill {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 16px;
  width: 100%;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.skills-content .skill .skill-image {
  width: 48px;
  height: 48px;
}

hr {
  border-top: 1px solid #ebecf0;
  margin-bottom: 24px;
}

.ll11 {
  display: flex;
  padding: 0 12px;
  width: 100%;
  justify-content: space-between;
}

.Languages-1 img {
  margin-right: 16px;
}

.frameworks {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.frameworks h3 {
  width: 237px;
  margin-right: 30px;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.skills h3 {
  width: 237px;
  margin-right: 30px;
}

.form-container {
  padding: 120px 20px;
  background-color: #6070ff;
  border-radius: 100px 0 0 0;
  width: 100%;
  background-image: url(./img/dsq.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
  background-size: contain;
}

form {
  width: 87%;
  margin: auto;
}

form p.error {
  background-color: #3e49a7;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.form-title h3 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

.text-muted {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.container4 ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.img2 {
  width: 12px;
  height: 8px;
  background-color: transparent;
}

.languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #fff;
  width: 100%;
}

.form-title {
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;
  color: #fff;
}

.contactInfo {
  text-align: center;
  width: 65%;
  color: #ebebff;
}

.userInfo {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  margin-top: 18px;
  height: 48px;
  width: 100%;
  padding-left: 15px;
}

.user-massage {
  height: 170px;
  width: 100%;
}

.touch_btn {
  margin-top: 22px;
}

@media screen and (min-width: 992px) {
  .projectInfo {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 28px;
  }

  .projectInfo ul {
    margin-top: 0;
    padding-top: 0;
  }

  .ppp {
    padding: 3.5px 8px;
    margin-top: 8px;
  }

  .nav-links {
    display: flex;
  }

  .nav {
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 10.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .contaner {
    width: 100%;
    background-color: #fff;
    margin-top: 72px;
    border-radius: 0 0 0 100px;
  }

  .see-por .project-modal-content {
    width: 70%;
  }

  .project-modal-content .img100 {
    height: 40vh;
  }

  .disk-ver p {
    width: 70%;
    overflow-y: scroll;
    height: 26vh;
    text-align: justify;
  }

  i.fa-bars {
    display: none;
  }

  .nav-anca {
    display: block;
  }

  .nav-anca a {
    margin-left: 32px;
  }

  .hero {
    background: white url("./img/dsq.png") no-repeat center;
  }

  .contaner2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 150px;
  }

  .skills-content {
    flex-direction: row;
  }

  .skills-content .skill {
    display: flex;
    flex-direction: column;
    width: 122px;
  }

  .myIntro {
    width: 100%;
  }

  .myIntro h1 {
    font-weight: bolder;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .mYInfo p {
    margin-top: 12px;
    font-weight: 400;
  }

  .project {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    margin: 71px auto;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project img {
    width: 50%;
  }

  .project-info {
    width: 60%;
    padding: 48px 22px 0 46px;
  }

  .about-me {
    width: 100%;
    margin-top: 71px;
    background-color: white;
    border-radius: 0 100px 0 0;
  }

  .about {
    width: 80%;
    margin: auto;
    display: flex;
  }

  .container4 {
    padding-top: 130px;
    width: 60%;
    padding-left: 50px;
    margin: 0 auto;
  }

  .contaner5 {
    padding-top: 130px;
    width: 40%;
  }

  .greads {
    font-size: 48px;
  }

  .contaner5 button {
    width: 165px;
    margin-top: 15px;
  }

  .Languages-1 {
    display: flex;
    flex-direction: row;
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    margin-left: 12px;
    padding: 12px;
  }

  .language img {
    margin-left: 0;
  }

  .language p {
    margin-left: 0;
    margin-top: 16px;
  }

  .form-title {
    width: 40%;
    margin: auto;
  }

  form {
    width: 40%;
    margin: auto;
  }

  .ulclass li {
    margin-right: 0;
  }

  .btnArea {
    text-align: center;
  }
}
